.section-title {
    text-align: center;
}

.portfolio-title {
    /* margin-bottom: 60px; */
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

hr {

    margin: 6px auto;
    width: 20%;
    border: 1px solid rgba(117, 117, 117, .8);
    border-radius: 50%;
}

.my-github {
    background: linear-gradient(to bottom, #0bceaf 0%, #0bceaf 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;

}

.my-github:hover {
    background-size: 4px 50px;
    text-decoration: none;
    color: #000;
}