.bubble {
  background-color: #0bceaf;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.home-padding {
  padding: 180px 0;
}

.section-separator {
  padding: 60px 0;
  padding-top: 100px;
}

@media only screen and (max-width: 420px) {

  .home-padding {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 575px) {
  .home-padding {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 991px) {
  .home-padding {
    padding-left: 100px 0;
  }
}

@media only screen and (max-width: 575px) {

  .section-separator {
    padding: 30px 0;
  }
}